@charset "utf-8";
/* CSS Document */

.header{ background:url(../images/bg.jpg) repeat-x left; overflow:hidden}
.header h1{ line-height:80px;margin:0 20px; font-size:20px;}
.header a{ float:right; color:#fff}